.container{
    text-align: left;
}

.today-card{
    background-color:lightblue; 
    border-radius: 10px;
    padding-top: 10px;
}

.weather-card{
    background-color:lightyellow; 
    border-radius: 10px;
    padding: 10px;
    color: black;
}